Repository jminie-o8o/issue-tracker, pull requests merged in 2022-07, with the labels that each got.

#45 [Android] 데이터 소스 층 생성
  android/app/src/main/java/com/example/issue_tracker/datasource/DataSource.kt
  android/app/src/main/java/com/example/issue_tracker/datasource/DataSourceImpl.kt
  android/app/src/main/java/com/example/issue_tracker/datasource/DataSourceModule.kt
  android/app/src/main/java/com/example/issue_tracker/model/Issue.kt
  android/app/src/main/java/com/example/issue_tracker/network/APIService.kt
  android/app/src/main/java/com/example/issue_tracker/network/CEHModel.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LabelRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LabelRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/repository/MileStoneRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelAddViewModel.kt
  android/app/src/main/res/values/strings.xml
Labels: android, feature, fix

#46 Feature/android/39 issue api
  android/.gitignore
  android/app/src/main/java/com/example/issue_tracker/model/GitHubOAuthRequest.kt
  android/app/src/main/java/com/example/issue_tracker/model/OAuthResponse.kt
  android/app/src/main/java/com/example/issue_tracker/model/SignUpRequest.kt
  android/app/src/main/java/com/example/issue_tracker/model/SignUpResponse.kt
  android/app/src/main/java/com/example/issue_tracker/network/APIService.kt
  android/app/src/main/java/com/example/issue_tracker/network/RetrofitObject.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LoginRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LoginRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/repository/RepositoryModule.kt
  android/app/src/main/java/com/example/issue_tracker/repository/SingUpRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/SingUpRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/ui/HomeActivity.kt
  android/app/src/main/java/com/example/issue_tracker/ui/LoginActivity.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/GitHubWebViewFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/LoginFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/LoginViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/SignUpFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/SignUpViewModel.kt
  android/app/src/main/res/layout/fragment_git_hub_web_view.xml
  android/app/src/main/res/layout/fragment_sign_up.xml
  android/app/src/main/res/navigation/nav_login.xml
  android/app/src/main/res/values-night/strings.xml
  android/app/src/main/res/values/github_string.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#47 [Android] SharedPreference를 활용하여 Interceptor에 AccessToken 넣고 API 요청 구현
  android/app/src/main/java/com/example/issue_tracker/common/DataStoreModule.kt
  android/app/src/main/java/com/example/issue_tracker/network/RetrofitObject.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/MainApplication.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/LoginViewModel.kt
Labels: android, feature

#50 [Android] milestone 관련 api 기능 추가
  android/app/src/main/java/com/example/issue_tracker/datasource/DataSource.kt
  android/app/src/main/java/com/example/issue_tracker/datasource/DataSourceImpl.kt
  android/app/src/main/java/com/example/issue_tracker/model/Issue.kt
  android/app/src/main/java/com/example/issue_tracker/model/IssueDTO.kt
  android/app/src/main/java/com/example/issue_tracker/network/APIService.kt
  android/app/src/main/java/com/example/issue_tracker/repository/MileStoneRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/MileStoneRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneViewModel.kt
Labels: android, feature

#51 [Android] 마일스톤 및 라벨 화면 기능구현 및 에러 복구
  android/app/build.gradle
  android/app/src/main/java/com/example/issue_tracker/model/Issue.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/SwipeHelperCallback.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelListAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneViewModel.kt
  android/app/src/main/res/layout/item_label_recycler_view.xml
  android/app/src/main/res/layout/item_mile_stone_recycler_view.xml
  android/app/src/main/res/menu/label_menu.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/main/res/values/themes.xml
Labels: android, feature, fix

#52 [Android] Issue 불러오기 Flow 로직으로 변경 및 debounce를 이용해 issue 검색 구현
  android/app/src/main/java/com/example/issue_tracker/datasource/DataSource.kt
  android/app/src/main/java/com/example/issue_tracker/datasource/DataSourceImpl.kt
  android/app/src/main/java/com/example/issue_tracker/model/IssueAddRequest.kt
  android/app/src/main/java/com/example/issue_tracker/model/IssueDTO.kt
  android/app/src/main/java/com/example/issue_tracker/network/APIService.kt
  android/app/src/main/java/com/example/issue_tracker/network/RetrofitObject.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueSearchAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueSearchFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/GitHubWebViewFragment.kt
  android/app/src/main/res/layout/fragment_issue_add.xml
  android/app/src/main/res/layout/fragment_issue_search.xml
  android/app/src/main/res/layout/item_issue_recycler_view.xml
  android/app/src/main/res/layout/item_issue_search_recycler_view.xml
Labels: android, feature

#53 [Android] 이슈 닫기 즉각 반영 되도록 수정
  android/app/src/main/java/com/example/issue_tracker/common/FlowExtensions.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
Labels: android, feature

#54 [Android] issue 추가시 화면에 보이도록 isSuccessful일때만 issue화면 움직임
  android/app/src/main/java/com/example/issue_tracker/datasource/DataSource.kt
  android/app/src/main/java/com/example/issue_tracker/datasource/DataSourceImpl.kt
  android/app/src/main/java/com/example/issue_tracker/network/APIService.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddViewModel.kt
Labels: android, fix

#57 [Android] GitHub OAuth 로그인 url 프로토콜 형식에 맞게 검증하도록 로직 변경 및 Flow 에서 suspend 키워드 제거
  android/app/src/main/java/com/example/issue_tracker/datasource/DataSource.kt
  android/app/src/main/java/com/example/issue_tracker/datasource/DataSourceImpl.kt
  android/app/src/main/java/com/example/issue_tracker/network/APIService.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/GitHubWebViewFragment.kt
Labels: android, fix

#58 [Android] CEH를 StateFlow로 했을 때 이전 오류가 지속해서 Toast로 발생하는 오류 수정
  android/app/src/main/java/com/example/issue_tracker/network/RetrofitObject.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFilterFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/GitHubWebViewFragment.kt
Labels: android, fix
