Repository jminie-o8o/issue-tracker, pull requests merged in 2022-06, with the labels that each got.

#6 login 프래그먼트 구현 및 커스텀 버튼 생성
  android/.gitignore
  android/.idea/.gitignore
  android/.idea/.name
  android/.idea/compiler.xml
  android/.idea/deploymentTargetDropDown.xml
  android/.idea/gradle.xml
  android/.idea/misc.xml
  android/.idea/vcs.xml
  android/app/build.gradle
  android/app/src/main/ic_launcher-playstore.png
  android/app/src/main/java/com/example/issue_tracker/LoginCustomButton.kt
  android/app/src/main/java/com/example/issue_tracker/LoginFragment.kt
  android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/custom_button_background.xml
  android/app/src/main/res/drawable/custom_button_image.xml
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/ic_text_issue_tracker.xml
  android/app/src/main/res/layout/custom_button.xml
  android/app/src/main/res/layout/fragment_login.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/values/attributes.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle
Labels: android, feature

#8 [Android] 비밀번호 확인 버그 해결
  android/app/src/main/java/com/example/issue_tracker/SignUpFragment.kt
Labels: android, fix

#9 [Android] 패스워드 힌트 삭제
  android/app/src/main/java/com/example/issue_tracker/SignUpFragment.kt
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#13 label fragment 및 추가 프래그먼트 생성
  android/app/build.gradle
  android/app/src/main/java/com/example/issue_tracker/LoginFragment.kt
  android/app/src/main/java/com/example/issue_tracker/label/LabelAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/label/LabelFragment.kt
  android/app/src/main/res/drawable/ic_baseline_add_24.xml
  android/app/src/main/res/drawable/ic_baseline_navigate_before_24.xml
  android/app/src/main/res/layout/fragment_label.xml
  android/app/src/main/res/layout/fragment_label_add.xml
  android/app/src/main/res/navigation/nav_issue.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#14 [Android] Issue Fragment UI 구현
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/issue_tracker/AccountFragment.kt
  android/app/src/main/java/com/example/issue_tracker/Issue.kt
  android/app/src/main/java/com/example/issue_tracker/IssueActivity.kt
  android/app/src/main/java/com/example/issue_tracker/IssueAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/IssueRepository.kt
  android/app/src/main/java/com/example/issue_tracker/IssueViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/MainApplication.kt
  android/app/src/main/java/com/example/issue_tracker/MileStoneFragment.kt
  android/app/src/main/java/com/example/issue_tracker/label/LabelFragment.kt
  android/app/src/main/res/drawable/ic_baseline_filter_list_30.xml
  android/app/src/main/res/drawable/ic_baseline_outlined_flag_20.xml
  android/app/src/main/res/drawable/ic_baseline_search_30.xml
  android/app/src/main/res/drawable/selector_text_input_color.xml
  android/app/src/main/res/drawable/shape_issue_label.xml
  android/app/src/main/res/layout/fragment_issue.xml
  android/app/src/main/res/layout/item_issue_recycler_view.xml
  android/app/src/main/res/values-night/strings.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/build.gradle
Labels: android, feature

#21 1주차 금요일 PR 피드백 적용
  android/app/src/main/java/com/example/issue_tracker/common/Extensions.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LabelRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LabelRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/CustomLabel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelFragment.kt
  android/app/src/main/res/layout/fragment_label_add.xml
Labels: android, fix

#22 [Android] PR 피드백 반영 및 ItemTouchHelper의 Swipe 정보 ViewModel에서 받는 구조로 변경
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/issue_tracker/model/Issue.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/repository/RepositoryModule.kt
  android/app/src/main/java/com/example/issue_tracker/ui/HomeActivity.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/SwipeHelperCallback.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/LoginFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/SignUpFragment.kt
  android/app/src/main/res/layout/activity_home.xml
Labels: android, fix

#26 [Android] issue filter 구현
  android/app/src/main/java/com/example/issue_tracker/model/Issue.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/CustomIssue.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFilterFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFilterViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/res/drawable/ic_baseline_arrow_drop_down_24.xml
  android/app/src/main/res/drawable/ic_baseline_clear_26.xml
  android/app/src/main/res/layout/custom_issue_filter.xml
  android/app/src/main/res/layout/fragment_issue_filter.xml
  android/app/src/main/res/layout/item_mile_stone_recycler_view.xml
  android/app/src/main/res/menu/issue_filter_status_menu.xml
  android/app/src/main/res/navigation/nav_issue.xml
  android/app/src/main/res/values-night/strings.xml
  android/app/src/main/res/values/attributes.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: android, feature

#27 롱클릭 일 부분 작업중
  android/app/src/main/java/com/example/issue_tracker/model/Issue.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/res/layout/item_issue_recycler_view.xml
Labels: android, feature

#28 롱클릭 데이터 변경시 뷰에 변화 주기 추가
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
Labels: android, feature

#30 [Android] LongClick시 새로운 AppBar 띄우기 및 지우기
  android/app/src/main/java/com/example/issue_tracker/ui/common/SwipeHelperCallback.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/CustomIssue.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFilterFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFilterViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/CustomLabel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneAddFragment.kt
  android/app/src/main/res/drawable/ic_baseline_delete_outline_30.xml
  android/app/src/main/res/drawable/ic_baseline_inbox_30.xml
  android/app/src/main/res/layout/fragment_issue.xml
  android/app/src/main/res/layout/item_issue_recycler_view.xml
  android/app/src/main/res/values-night/strings.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#31 [Android] pr 리뷰 수정
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneAddViewModel.kt
  android/app/src/main/res/layout/fragment_mile_stone_add.xml
Labels: android, fix

#33 [Android] 체크박스 닫기 및 이슈 검색 UI 구현
  android/app/src/main/java/com/example/issue_tracker/common/Extensions.kt
  android/app/src/main/java/com/example/issue_tracker/model/Issue.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/BindingAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/CustomIssue.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFilterFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueSearchFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/res/drawable/edittext_rounded_corner.xml
  android/app/src/main/res/layout/custom_issue_filter.xml
  android/app/src/main/res/layout/fragment_issue.xml
  android/app/src/main/res/layout/fragment_issue_filter.xml
  android/app/src/main/res/layout/fragment_issue_search.xml
  android/app/src/main/res/layout/item_issue_recycler_view.xml
  android/app/src/main/res/navigation/nav_issue.xml
  android/app/src/main/res/values-night/strings.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#34 [Android] 이슈 작성하기 화면 구현
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelAddViewModel.kt
  android/app/src/main/res/layout/fragment_issue.xml
  android/app/src/main/res/layout/fragment_issue_add.xml
  android/app/src/main/res/navigation/nav_issue.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#35 [Android] 충돌해결과정에서 생긴 이슈 해결 및 일부 UI 변경
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/res/drawable/ic_baseline_add_24.xml
  android/app/src/main/res/layout/fragment_issue.xml
  android/app/src/main/res/navigation/nav_issue.xml
Labels: android, feature

#36 feat: Issue add 프래그먼트에 edit text 및 마크다운 라이브러리 추가
  android/app/build.gradle
  android/app/src/main/res/layout/fragment_issue_add.xml
Labels: android, feature

#37 feat: Issue add 프래그먼트에 edit text 및 마크다운 라이브러리 추가
  android/app/build.gradle
Labels: android, fix

#38 [Android] 카카오 OAuth 로그인 구현
  android/.gitignore
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/issue_tracker/ui/common/MainApplication.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/UserAppClient.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueSearchFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/LoginFragment.kt
  android/app/src/main/res/layout/fragment_login.xml
  android/app/src/main/res/values/kakao_string.xml
  android/settings.gradle
Labels: android, feature

#40 [Android] API 연결중
  android/app/src/main/java/com/example/issue_tracker/common/Extensions.kt
  android/app/src/main/java/com/example/issue_tracker/common/ResponseResult.kt
  android/app/src/main/java/com/example/issue_tracker/model/IssueDTO.kt
  android/app/src/main/java/com/example/issue_tracker/network/APIService.kt
  android/app/src/main/java/com/example/issue_tracker/network/RetrofitObject.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LabelRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LabelRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/BindingAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/UserAppClient.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFilterViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelListAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelViewModel.kt
  android/app/src/main/res/layout/fragment_issue_add.xml
  android/app/src/main/res/layout/fragment_label_add.xml
  android/app/src/main/res/layout/item_issue_recycler_view.xml
  android/app/src/main/res/layout/item_label_recycler_view.xml
Labels: android

#41 [Android] Api 연결 및 에러 해결
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/issue_tracker/common/Extensions.kt
  android/app/src/main/java/com/example/issue_tracker/model/IssueDTO.kt
  android/app/src/main/java/com/example/issue_tracker/network/APIService.kt
  android/app/src/main/java/com/example/issue_tracker/network/RetrofitObject.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/BindingAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFilterViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelListAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelViewModel.kt
  android/app/src/main/res/layout/fragment_issue.xml
  android/app/src/main/res/layout/fragment_issue_add.xml
  android/app/src/main/res/layout/fragment_label_add.xml
  android/app/src/main/res/layout/item_label_recycler_view.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature

#42 feat: CEH를 이용하여 에러 핸들링
  android/app/src/main/java/com/example/issue_tracker/common/Extensions.kt
  android/app/src/main/java/com/example/issue_tracker/network/APIService.kt
  android/app/src/main/java/com/example/issue_tracker/network/CEHModel.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LabelRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LabelRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/BindingAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/UserAppClient.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFilterViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelListAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelViewModel.kt
Labels: android, feature

#43 [Android] Issue detail 추가 및 리펙토링
  android/app/src/main/java/com/example/issue_tracker/common/Extensions.kt
  android/app/src/main/java/com/example/issue_tracker/model/Issue.kt
  android/app/src/main/java/com/example/issue_tracker/model/IssueDTO.kt
  android/app/src/main/java/com/example/issue_tracker/network/APIService.kt
  android/app/src/main/java/com/example/issue_tracker/network/CEHModel.kt
  android/app/src/main/java/com/example/issue_tracker/network/CoroutinException.kt
  android/app/src/main/java/com/example/issue_tracker/network/RetrofitObject.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LabelRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LabelRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/repository/MileStoneRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/repository/RepositoryModule.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/BindingAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/SwipeHelperCallback.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueDetailFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueDetailViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFilterFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueSearchFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/CustomLabel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/LoginCustomButton.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/LoginFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/SignUpFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneViewModel.kt
  android/app/src/main/res/drawable/ic_vector_4.xml
  android/app/src/main/res/drawable/user_image.png
  android/app/src/main/res/layout/fragment_issue.xml
  android/app/src/main/res/layout/fragment_issue_detail.xml
  android/app/src/main/res/layout/item_issue_detail_recycler.xml
  android/app/src/main/res/layout/item_issue_recycler_view.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feature, fix

#44 [Android] pr 리뷰 반영
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/issue_tracker/common/Extensions.kt
  android/app/src/main/java/com/example/issue_tracker/common/FlowExtensions.kt
  android/app/src/main/java/com/example/issue_tracker/common/LifecycleOwnerExtension.kt
  android/app/src/main/java/com/example/issue_tracker/common/ResponseResult.kt
  android/app/src/main/java/com/example/issue_tracker/common/TimeUtils.kt
  android/app/src/main/java/com/example/issue_tracker/model/Issue.kt
  android/app/src/main/java/com/example/issue_tracker/model/IssueDTO.kt
  android/app/src/main/java/com/example/issue_tracker/network/CoroutinException.kt
  android/app/src/main/java/com/example/issue_tracker/network/RetrofitObject.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/IssueRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LabelRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/LabelRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/repository/MileStoneRepository.kt
  android/app/src/main/java/com/example/issue_tracker/repository/MileStoneRepositoryImpl.kt
  android/app/src/main/java/com/example/issue_tracker/ui/HomeActivity.kt
  android/app/src/main/java/com/example/issue_tracker/ui/LoginActivity.kt
  android/app/src/main/java/com/example/issue_tracker/ui/account/AccountFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/common/BindingAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueDetailFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueDetailViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/issue/IssueFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/label/LabelViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/LoginCustomButton.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/LoginFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/login/SignUpFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneAdapter.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneAddFragment.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneAddViewModel.kt
  android/app/src/main/java/com/example/issue_tracker/ui/milestone/MileStoneFragment.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/custom_button.xml
  android/app/src/main/res/layout/custom_label.xml
  android/app/src/main/res/layout/fragment_issue.xml
  android/app/src/main/res/layout/fragment_issue_add.xml
  android/app/src/main/res/layout/fragment_issue_detail.xml
  android/app/src/main/res/layout/fragment_issue_filter.xml
  android/app/src/main/res/layout/fragment_issue_search.xml
  android/app/src/main/res/layout/fragment_label.xml
  android/app/src/main/res/layout/fragment_label_add.xml
  android/app/src/main/res/layout/fragment_login.xml
  android/app/src/main/res/layout/fragment_mile_stone.xml
  android/app/src/main/res/layout/fragment_sign_up.xml
  android/app/src/main/res/layout/item_issue_detail_recycler.xml
  android/app/src/main/res/layout/item_issue_recycler_view.xml
  android/app/src/main/res/layout/item_mile_stone_recycler_view.xml
  android/app/src/main/res/values/strings.xml
Labels: android, fix, refactor
